* {
    box-sizing: border-box;
  }

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer > div {
    width: 100px;
    margin: auto;
    text-align: center;
    line-height: 75px;
    font-size: 15px; 
  }


.header{
    padding: 60px;
    text-align: center;
    background: #f01381;
    color: white;
    font-size: 25px;
    margin: auto;
}

.header h1 {
    font-size: 40px;
  }

#container2{
    margin: auto;
    padding-top: 40px;
    text-align: center;
    color: black;
    width: 1000px;
    
}

#container3{
    margin: auto;
    color: black;
    width: auto;
    column-count: 3;
    text-align: center;
    padding-top: 30px;
}


#testing{
    margin-left: auto;
}

footer{
    background-color: white;
    color: black;
    padding-top: 100px;
    text-align: center;
}


  @media screen and (max-width: 768px){
    .header{
    width: 90%;
    }
    #container2{
        width: 90%;  
    }
    #container3{
        width: 90%;   
    }
    .flex-container{
        width: 90%;
    }
      h1{
      font-size: 200%;
    }
  }



  

